<nav class="navbar navbar-dark bg-dark text-light justify-content-between px-3">
	<div class="d-flex align-items-center" style="gap:10px;">
		<img src="/images/icon/favicon-32x32.png" alt="Logo" class="img-fluid"/>
		<h4 class="my-auto">
			Check In
		</h4>
	</div>
	
  <a href="/logout" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</a>
</nav>