<%- include('../header'); %>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 my-2 d-flex justify-content-center">
			<img height="100" src="/images/eb-logo-medium.png"/>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-10 mx-auto mt-3">
			<h3>
				Search for orders
			</h3>
			<form class="d-flex" id="search_form">
				<div class="input-group mb-2">
					<input id="search" class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-lg btn-outline-success" type="submit"><i class="bi bi-search mx-2"></i><span class="mx-2">Search</span></button>
				</div>
			</form>
			<hr/>
			<div id="orders">Enter a value in the search field above to begin...</div>
		</div>
	</div>
</div>
<script src="/js/check-in.js"></script>
