<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>	
	<body>
		<%- include('../partials/check-in/index.ejs'); %>
	</body>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</html>