<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>	
	<body>
		<script>
			localStorage.clear();
			window.location.replace("/");
		</script>
	</body>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</html>